<div
  class="container mx-auto min-w-[360px] w-[50%] max-w-[500px] mt-2 space-y-2"
>
  <h1 class="text-center">Unresolved Responses</h1>
  <p class="text-center">Date Submitted: {{ openedDate }}</p>
  <mat-paginator
    class="flex justify-center border-1 border-solid border-dark-blue rounded-2xl shadow-md"
    [length]="numberOfResponses"
    [pageIndex]="displayedIndex"
    [pageSize]="1"
    [hidePageSize]="true"
    [showFirstLastButtons]="true"
    (page)="pageEvent = displayIssue($event)"
  >
  </mat-paginator>

  <mat-card *ngFor="let qa of qas; let i = index" class="rounded-2xl shadow-md">
    <mat-card-content class="text-sm text-left">
      <p class="text-base font-medium">{{ i + 1 }}. {{ qa[0] }}</p>
      <p>{{ qa[1] }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="rounded-2xl shadow-md">
    <mat-card-content class="text-sm text-left">
      <form [formGroup]="resolutionForm">
        <p class="text-base font-medium">How was this addressed?</p>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>I took the following actions...</mat-label>
          <textarea matInput [formControlName]="'resolution'"> </textarea>
        </mat-form-field>
        <mat-card-actions class="flex h-8 space-x-2 mb-0 py-0 mx-1">
          <button mat-stroked-button class="w-full shadow-md rounded-full" type="reset">
            Back
          </button>
          <button
            mat-button
            class="w-full bg-dark-blue text-white shadow-md rounded-full"
            (click)="submitResolutionClick()"
            type="submit"
          >
            Submit
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
