<div class="parent-div">
  <mat-card>
    <mat-card-title class="ml-0 text-4xl font-extrabold text-center">
      Recover Password
    </mat-card-title>

    <!-- Sign in form -->
    <form [formGroup]="passwordRecoveryForm">
      <!-- User Name field -->
      <mat-form-field class="mx-0 w-full" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          id="email"
          formcontrolname="email"
          matInput
          required="true"
          placeholder="Email"
          [formControlName]="'email'"
        />
      </mat-form-field>
      <br />
      <!-- <p *ngIf="passwordError" class="mb-4 text-red-500"> -->
      <p class="mb-4 error-text text-center" *ngIf="recoveryRequestError">
        Email does not exist
      </p>

      <!-- Buttons -->
      <mat-card-actions class="flex h-8 space-x-4 mb-0 py-0 mx-1">
        <button
          type="reset"
          mat-stroked-button
          class="w-full shadow-md rounded-full"
          [routerLink]="['/login']"
        >
          Back
        </button>

        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="w-full text-white shadow-md rounded-full"
          (click)="recoverPassword()"
        >
          Submit
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
