<mat-card class="flex w-2/6 m-2">
  <form [formGroup]="loginForm">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input
        matInput
        placeholder="Username"
        formControlName="userUsername"
      />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="userPassword"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <div>
    <button mat-raised-button color="primary" (click)="submitLoginClick()">
      Login
    </button>
  </div>
  </form>
</mat-card>
