input::-ms-clear,
input::-ms-reveal {
  display: none;
}

/* Sign In */
mat-card-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25px;
  color: #0d153f;
}
.sectionOne {
font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: -0.1px;
color: #0d153f;
}

