<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>Menu Item 1</button>
    <button mat-menu-item>Menu Item 2</button>
  </mat-menu>

  <div class="absolute right-4">
    <button mat-button [matMenuTriggerFor]="homeMenu">
      <!-- TODO can't get any profile/account mat icons to work -->
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #homeMenu="matMenu">
      <button [routerLink]="['/dashboard']" mat-menu-item>Home</button>
      <button (click)="removeTokens()" [routerLink]="['/login']" mat-menu-item>
        Logout
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
