<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>Menu Item 1</button>
    <button mat-menu-item>Menu Item 2</button>
  </mat-menu>

  <div *ngIf="user && user.orgs" class="w-screen">
    <p id="userNameGrade" class="mb-0 flex justify-center items-center">
      {{ this.user.firstName }} {{ this.user.lastName }}, {{ this.user.grade }}
    </p>
    <p id="userTitleOrg" class="mb-0 flex justify-center items-center text-sm">
      <!-- update backend to have take/first parameter? -->
      {{ this.userTitle }} {{ this.user.orgs[0].name }}
    </p>
  </div>

  <div class="right-4">
    <button mat-button [matMenuTriggerFor]="homeMenu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #homeMenu="matMenu">
      <button [routerLink]="['/dashboard']" mat-menu-item>Home</button>
      <button (click)="removeTokens()" [routerLink]="['/login']" mat-menu-item>
        Logout
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
