<div class="parent-div">
  <mat-card appearance="outlined">
    <mat-card-title class="ml-0 text-4xl font-extrabold text-center">
      Sign In
    </mat-card-title>
    <mat-card-content
      class="mt-2 flex justify-center font-medium h-fit space-x-2"
    >
      <div>Don't have an account?</div>
      <a
        class="underline text-right text-link-color"
        [routerLink]="['/request-account']"
      >
        Get one!
      </a>
    </mat-card-content>

    <!-- Sign in form -->
    <form [formGroup]="loginForm">
      <!-- User Name field -->
      <mat-form-field class="mx-0 w-full" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          id="email"
          formcontrolname="userEmail"
          type="text"
          matInput
          required="true"
          placeholder="Email"
          [formControlName]="'userEmail'"
        />
        <mat-error
          *ngIf="
            loginForm.controls['userEmail'].hasError('email') &&
            !loginForm.controls['userEmail'].hasError('required')
          "
        >
          Please enter a valid Email
        </mat-error>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <br />
      <!-- Password field -->
      <mat-form-field class="mx-0 w-full" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          id="password"
          formcontrolname="userPassword"
          matInput
          [type]="hide ? 'password' : 'text'"
          [formControlName]="'userPassword'"
        />
        <button
          mat-icon-button
          type="button"
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      <!-- <p *ngIf="passwordError" class="mb-4 text-red-500"> -->
      <p class="mb-4 error-text text-center" *ngIf="passwordError">
        Wrong email or password. Try again or click Forgot Password to reset it.
      </p>

      <div class="mt-0 mb-4 flow-root font-medium h-fit space-x-2 w-full">
        <mat-checkbox
          class="float-left mt-2"
          [color]="'primary'"
          [formControlName]="'rememberMe'"
        >
          Remember Me
        </mat-checkbox>
        <!-- Set link color to primary color of theme -->
        <button
          mat-button
          class="float-right"
          [routerLink]="['/password-recovery']"
        >
          Forgot password
        </button>
      </div>

      <!-- Buttons -->
      <mat-card-actions class="flex h-8 space-x-4 mb-0 py-0 mx-1">
        <button
          type="reset"
          mat-stroked-button
          class="w-full shadow-md rounded-full"
          [routerLink]="['/disclaimer']"
        >
          Back
        </button>

        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="w-full text-white shadow-md rounded-full"
          (click)="submitLoginClick()"
        >
          Sign In
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
