<div class="parent-div">
  <mat-card>
    <mat-card-title class="flex justify-center font-medium mb-5">
      Check Report Status
    </mat-card-title>
    <mat-card-content class="text-sm space-y-3 text-justify">
      <p class="flex justify-center">
        Check the status of an active report by entering your tracking ID below:
      </p>
    </mat-card-content>

    <form [formGroup]="form">
      <!-- User Name field -->
      <mat-form-field class="mx-0 w-full" appearance="outline">
        <mat-label>Feedback Report ID</mat-label>
        <input
          id="reportID"
          formcontrolname="reportID"
          type="text"
          matInput
          required="true"
          placeholder="Feedback Report ID"
          [formControlName]="'reportID'"
        />
        <mat-error> Please provide a valid ID </mat-error>
      </mat-form-field>
      <br />
      <p class="mb-4 error-text text-center" *ngIf="submitError">
        An issue with the entered ID could not be found.
      </p>
      <mat-card-content *ngIf="success" class="text-sm space-y-3">
        <p *ngIf="status">
          This feedback report was submitted on
          {{ openedDate | date: 'd MMM yy' }} and was resolved on
          {{ closedDate | date: 'd MMM yy' }} The following issue was resolved
          by:
          <!--TODO Replace the mat-list with tag component -->
          <mat-list>
            <mat-list-item *ngFor="let tag of tags">
              {{ tag }}
            </mat-list-item>
          </mat-list>
        </p>
        <p *ngIf="!status">
          This feedback report was submitted on
          {{ openedDate | date: 'd MMM yy' }}, and is awaiting resolution.
        </p>
      </mat-card-content>
      <!-- Buttons -->
      <mat-card-actions class="flex h-8 space-x-4 mb-0 py-0 mx-1">
        <button
          type="reset"
          mat-stroked-button
          class="w-full shadow-md rounded-full"
          [routerLink]="['/disclaimer']"
        >
          Back
        </button>

        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="w-full text-white shadow-md rounded-full"
          (click)="submit()"
          [disabled]="!form.valid"
        >
          Lookup ID
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
