<div class="parent-div space-y-3 flex justify-center">
  <form [formGroup]="form">
    <mat-card>
      <mat-card-title>Create Organization</mat-card-title>
      <mat-card-content class="mb-0">
        <label class="mt-6 mb-2">
          What kind of organization are you creating?
        </label>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Select Organization Type</mat-label>
          <mat-select
            formControlName="orgTier"
            (selectionChange)="getOrgTierBelow($event.value)"
            (selectionChange)="getOrgTierAbove($event.value)"
            required
          >
            <mat-option
              *ngFor="let groupTier of groupTiers"
              [value]="groupTier"
            >
              {{ groupTier }}
            </mat-option>
          </mat-select>
          <mat-error> Please select an organization. </mat-error>
        </mat-form-field>
        <hr class="opacity-50 mb-4" />
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Organization Name</mat-label>
          <input
            matInput
            placeholder="Enter the name of the organization"
            formControlName="orgName"
            required
          />
          <mat-error> Please enter the organization's name </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full mb-3">
          <mat-label>Confirm Organization Name</mat-label>
          <input
            matInput
            placeholder="Confirm the name of the organization"
            formControlName="confirmName"
            required
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="form.hasError('notSame')">
            Please confirm the organization's name.
            {{ errors['orgName'] }}
          </mat-error>
        </mat-form-field>
        <hr class="opacity-50 mb-4" />
        <label class="mt-6 mb-2">
          Is your Unit under another organization?
        </label>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Parent Unit</mat-label>
          <mat-select placeholder="Unit" formControlName="parentOrg">
            <mat-option
              *ngFor="let parentOrg of parentOrgs"
              [value]="parentOrg"
            >
              {{ parentOrg }}
            </mat-option>
          </mat-select>
          <mat-error> Please select an organization. </mat-error>
        </mat-form-field>
        <label class="mt-6 mb-2">
          Is your Unit over another organization?
        </label>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Child Unit</mat-label>
          <mat-chip-list #chipList>
            <mat-chip
              *ngFor="let childOrg of selectedChildren"
              (removed)="remove(childOrg)"
            >
              {{ childOrg }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input
              placeholder="Unit"
              id="childrenSelect"
              #orgInput
              [formControl]="orgCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)"
              (input)="generateFilteredOrgs()"
              (focus)="generateFilteredOrgs()"
              (focus)="checkForChildren()"
            />
          </mat-chip-list>
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="selected($event)"
          >
            <mat-option *ngFor="let child of filteredOrgs" [value]="child">
              {{ child }}
            </mat-option>
          </mat-autocomplete>

          <mat-error> Please select an organization. </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <div class="flex justify-center">
          <button
            class="m-2 border-1 shadow-md rounded-full w-full"
            mat-stroked-button
            [routerLink]="['/login']"
          >
            Back
          </button>
          <button
            id="btnSubmit"
            class="m-2 rounded-full w-full"
            mat-raised-button
            color="primary"
            (click)="submit()"
            [disabled]="!form.valid || submitSuccess"
          >
            Submit
            <mat-icon id="submitCheck" class="ml-1" *ngIf="submitSuccess"
              >check</mat-icon
            >
          </button>
        </div>
      </mat-card-actions>
      <mat-card
        *ngIf="submitSuccess"
        class="mt-3 bg-green-500 bg-opacity-50 border-2 border-green-400"
      >
        <mat-card-content
          class="flex justify-center text-sm space-y-3 text-justify"
        >
          <p>Your Unit has been successfully created!</p>
        </mat-card-content>
      </mat-card>
      <mat-card
        *ngIf="submitError"
        class="mt-3 bg-red-500 bg-opacity-50 border-2 border-red-400"
      >
        <mat-card-content
          class="flex justify-center text-sm space-y-3 text-justify"
        >
          <p>
            There was a problem creating your Unit, please contact your local
            D&I office
          </p>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </form>
</div>
