<mat-form-field appearance="outline" class="w-full" *ngIf="tags">
  <mat-label>Tags for {{ tagType }}</mat-label>
  <!-- Represents all the chips that are selected -->
  <mat-chip-grid #chipList>
    <mat-chip-row *ngFor="let tag of selectedTags" (removed)="removeTag(tag)">
      {{ tag }}
      <button matChipRemove>
        <!-- When a tag is removed, call the remove function for that tag -->
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    <input
      placeholder="Add Another Tag..."
      #tagInput
      [formControl]="tagCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      (matChipInputTokenEnd)="addTag($event)"
      (input)="generateFilteredTags()"
      (focus)="generateFilteredTags()"
    />
  </mat-chip-grid>
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="selectTag($event)"
  >
    <mat-option *ngFor="let tag of filteredTags" [value]="tag">
      {{ tag }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
