<mat-card class="flex w-2/6 m-2">
  <table mat-table [dataSource]="dataSource" class="w-fit">

    <!-- Position Column -->
    <ng-container
      *ngFor="let prop of tableProps"
      [matColumnDef]="prop.columnDef"
    >
      <th mat-header-cell  *matHeaderCellDef>{{ prop.header }}</th>
      <td mat-cell *matCellDef="let item">{{ item[prop.columnDef] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
