<div class="parent-div">
  <mat-card>
    <mat-card-title class="ml-0 text-4xl font-extrabold text-center">
      Sign In
    </mat-card-title>

    <!-- Sign in form -->
    <form [formGroup]="passwordResetForm">
      <!-- User Name field -->
      <mat-form-field class="mx-0 w-full" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          id="password"
          formcontrolname="newPassword"
          type="text"
          matInput
          required="true"
          placeholder="Password"
          [formControlName]="'newPassword'"
        />
        <mat-error
          *ngIf="
            passwordResetForm.controls['newPassword'].hasError('email') &&
            !passwordResetForm.controls['newPassword'].hasError('required')
          "
        >
          Please enter a valid Email
        </mat-error>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <br />
      <!-- Password field -->
      <mat-form-field class="mx-0 w-full" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          id="password"
          formcontrolname="userPassword"
          matInput
          [type]="hide ? 'password' : 'text'"
          [formControlName]="'userPassword'"
        />
        <button
          mat-icon-button
          type="button"
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      <!-- <p *ngIf="passwordError" class="mb-4 text-red-500"> -->
      <p class="mb-4 error-text text-center" *ngIf="passwordError">
        Wrong email or password. Try again or click Forgot Password to reset it.
      </p>

      <!-- Buttons -->
      <mat-card-actions class="flex h-8 space-x-4 mb-0 py-0 mx-1">
        <button
          type="reset"
          mat-stroked-button
          class="w-full shadow-md rounded-full"
          [routerLink]="['/disclaimer']"
        >
          Back
        </button>

        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="w-full text-white shadow-md rounded-full"
        >
          Sign In
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
