<div class="parent-div">
  <mat-card>
    <mat-card-title class="ml-0 text-4xl font-extrabold text-center">
      Reset Password
    </mat-card-title>

    <!-- Sign in form -->
    <form [formGroup]="passwordResetForm">
      <!-- User Name field -->
      <mat-form-field class="mx-0 w-full" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matTooltip="The password must have the following:
            - 8 to 32 characters
            - At least one lowercase character (a-z)
            - At least one uppercase character (A-Z)
            - At least one numeral (0-9)
            - At least one special character (~!@#$%^&)
            - No spaces or tabs allowed"
          matTooltipClass="whitespace-pre"
          matTooltipPosition="right"
          formcontrolname="newPassword"
          [type]="hide ? 'password' : 'text'"
          matInput
          required="true"
          placeholder="Password"
          [formControlName]="'newPassword'"
        />
        <mat-icon matSuffix>{{
          hide ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </mat-form-field>
      <br />
      <!-- Password field -->
      <mat-form-field class="mx-0 w-full" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matTooltip="The password must have the following:
            - 8 to 32 characters
            - At least one lowercase character (a-z)
            - At least one uppercase character (A-Z)
            - At least one numeral (0-9)
            - At least one special character (~!@#$%^&)
            - No spaces or tabs allowed"
          matTooltipClass="whitespace-pre"
          matTooltipPosition="right"
          formcontrolname="confirmPassword"
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Password"
          [formControlName]="'confirmPassword'"
        />
        <button
          mat-icon-button
          type="button"
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      <!-- <p *ngIf="passwordError" class="mb-4 text-red-500"> -->
      <p class="mb-4 error-text text-center" *ngIf="changeSuccess">
        The two passwords do not match
      </p>

      <!-- Buttons -->
      <mat-card-actions class="flex h-8 space-x-4 mb-0 py-0 mx-1">
        <button
          type="reset"
          mat-stroked-button
          class="w-full shadow-md rounded-full"
          [routerLink]="['/disclaimer']"
        >
          Back
        </button>

        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="w-full text-white shadow-md rounded-full"
          (click)="resetPassword()"
        >
          Submit
        </button>
      </mat-card-actions>
      <mat-card
        *ngIf="changeSuccess"
        class="mt-3 bg-green-500 bg-opacity-50 border-2 border-green-400"
      >
        <mat-card-content class="text-sm space-y-3 text-justify">
          <p>Password reset successfull</p>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-card>
</div>
