@use '@angular/material' as mat;
@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;

$darkblue-palette: (
  50: #e4e6ed,
  100: #bcc1d4,
  200: #9199b6,
  300: #687399,
  400: #4a5786,
  500: #2c3c74,
  600: #27366c,
  700: #1f2d62,
  800: #182456,
  900: #0d153f,
  A100: #ffffff,
  A200: #dde6f3,
  A400: #6992c9,
  A700: #38649d,

  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// Define a light theme
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
  )
);

// Define a dark theme
$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
  )
);

// Apply the light theme by default
@include mat.core-color($light-theme);
@include mat.button-color($light-theme);

// Apply the dark theme if someone's machine prefers it
@media (prefers-color-scheme: dark) {
  @include mat.core-theme($dark-theme);
  @include mat.button-theme($dark-theme);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.parent-div {
  @apply container mx-auto min-w-[360px] w-[50%] max-w-[500px] mt-3;
}

.mat-card {
  @apply rounded-2xl;
}
