input::-ms-clear,
input::-ms-reveal {
  display: none;
}
mat-card-header {
  width: 360px;
  font-size: 16px;
}

mat-card {
  width: 360px;
  font-size: 14px;
  border-style: solid;
  border: 1px;
  border-color: #79747e;
  border-radius: 12px;
}
