<mat-card-header>
  <mat-card-title class="font-medium">
    Observations of Discrimination in the Squadron
  </mat-card-title>
</mat-card-header>
<mat-card class="border-2">
  <mat-card-content>
    Your responses provided in this form will be
    analyzed and addressed at the appropriate
    command team (Squadron/Group/Wing). This
    form is meant to facilitate low level resolution.
    <br><br>
    DO NOT formally reposrt instances of sexual
    assault or harassment, or suicide intent/threat to
    life on this form.  Otherwise a formal investigation
    will be launched.
    <br><br>
    Please do not include name or identifying
    information in your accounts.  If you'd like to file a
    formal complaint, please speak to your chain of
    command.
    <br><br>
    False reporting may result in disciplinary actions.
 </mat-card-content>  
</mat-card>
<mat-card>
  <mat-card-actions>
    <button class="mt-5 px-14 h-10 bg-white text-dark-blue border border-black rounded-full"
    >
      Decline
    </button>
    <button class="mt-5 ml-3 px-14 h-10 bg-dark-blue text-white rounded-full"
    >
      Accept
    </button>
  </mat-card-actions>
</mat-card>


  <!-- this lies outside the box
  <div
    class="md:flex md:items-center md:justify-end w-full min-h-screen sm:w-auto md:h-full md:w-1/2 
           py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card"
  >
    <div class="mt-2 flex justify-between font-medium h-fit"> 
        <p class="underline text-right">I want to login</p>
    </div>
  </div> -->
