<div
  class="mx-auto min-w-[340px] w-[95%] max-w-[500px] mt-2 space-y-3 flex flex-col"
>
  <mat-card class="rounded-2xl shadow-md">
    <mat-card-title class="text-xl font-medium text-black">
      Observations of Discrimination in the Squadron
    </mat-card-title>
    <mat-card-content class="text-sm space-y-3">
      <p>
        The responses provided will be analyzed and addressed at the appropriate
        command level (Squadron/Group/Wing). This form is meant to facilitate
        low level resolution.
      </p>
      <p>
        DO NOT formally report instances of sexual assault or harassment, or
        suicidal intent/threat to life on this form. A formal investigation will
        be launched.
      </p>
      <p>
        Please do not include names or identifying information in your accounts.
        If you'd like to file a formal complaint, please speak to your chain of
        command.
      </p>
      <p>False reporting may result in disciplinary actions.</p>
    </mat-card-content>
    <mat-card-actions class="text-sm mt-4 mb-0.5 flex h-8 space-x-4 pt-0">
      <button mat-stroked-button class="w-full shadow-md rounded-full">
        Decline
      </button>
      <button
        mat-button
        class="w-full bg-dark-blue text-white shadow-md rounded-full"
        [routerLink]="['/form']"
      >
        Accept
      </button>
    </mat-card-actions>
  </mat-card>

  <!-- this lies outside the box -->
  <button mat-button class="underline ml-auto" [routerLink]="['/login']">
    I want to login
  </button>
</div>
