<div class="mx-auto min-w-[340px] w-[95%] mt-2 space-y-3 flex flex-col">
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6 w-full">
    <mat-card
      class="flex flex-col flex-auto p-6 shadow-md"
      *ngFor="let card of cardSpecs"
      [ngClass]="{ 'cursor-pointer': card.countOf !== 0 }"
      [routerLink]="card.countOf !== 0 ? ['/responses'] : null"
      [queryParams]="{ resolved: card.resolved }"
    >
      <div class="flex items-start justify-between">
        <p class="text-lg font-medium">
          {{ card.title }}
        </p>
      </div>
      <div class="flex flex-col items-center mt-2">
        <p class="{{ card.numberStyle }}">{{ card.countOf }}</p>
        <p class="{{ card.suffixStyle }}">{{ card.suffix }}</p>
      </div>
    </mat-card>
  </div>
</div>
