<div class="mx-auto min-w-[340px] w-[95%] mt-2 space-y-3 flex flex-col">
  <mat-card class="my-3">
    <h1 class="font-medium tracking-tight leading-6 truncate">
      Lt Col John Doe
    </h1>
    <h3 class="tracking-tight leading-6 truncate">Squadron Commander</h3>
  </mat-card>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0 ng-star-inserted"
  >
    <mat-card
      class="card"
      *ngFor="let spec of CardSpecs"
      [routerLink]="['/responses']"
      [queryParams]="[spec.CardRouteParams]"
    >
      <div class="flex items-start justify-between">
        <p class="text-lg font-medium tracking-tight leading-6 truncate">
          {{ spec.Title }}
        </p>
      </div>
      <div class="flex flex-col items-center mt-2">
        <p class="{{ spec.NumberStyle }}">{{ spec.CountOf }}</p>
        <p class="{{ spec.SuffixStyle }}">{{ spec.Suffix }}</p>
      </div>
    </mat-card>
  </div>
</div>
