<!-- TODO: add lazy loading which should fix issue with login page staying whole time -->
<odst-login *ngIf="!loggedInCheck()" ng-cloak></odst-login>
<odst-navigation-bar></odst-navigation-bar>



<!-- <div class="bg-slate-50"> -->
<!-- <router-outlet></router-outlet> -->
<!-- <nav>
    <a routerLink="/navigation-bar">Successfull Login</a>
  </nav>
  <nav>
    <a routerLink="/create-person">Create Person</a>
  </nav>
  <nav>
    <a routerLink="/create-org">Create Org</a>
  </nav> -->
<!-- <odst-navigation-bar></odst-navigation-bar>     -->
<!-- <odst-login></odst-login> -->
<!-- <odst-create-person></odst-create-person>
  <odst-create-org></odst-create-org>
  <odst-table [dataSource]="orgs" [tableProps]="tablePropsOrg"></odst-table>
  <odst-table
    [dataSource]="persons"
    [tableProps]="tablePropsPerson"
  ></odst-table> -->
<!-- TODO add /logout route that removes jwt is removed -->
<!-- </div> -->
