<form [formGroup]="personForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create Person</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="PersonInput">
        <input
          matInput
          placeholder="First Name"
          formControlName="personFirstName"
          value="test"
          id="testing"
          required
        />
      </mat-form-field>
      <mat-form-field class="PersonName">
        <input
          matInput
          placeholder="Middle Initial"
          formControlName="personMiddleInitial"
          maxlength="1"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Last Name"
          formControlName="personLastName"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="dodID"
          formControlName="personDoDIDNumber"
          required
        />
      </mat-form-field>
      <mat-form-field class="PersonInput">
        <input
          matInput
          placeholder="SSN"
          formControlName="personSSN"
          maxlength="11"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="E-mail"
          formControlName="personEmail"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Birth Country"
          formControlName="personBirthCountry"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-select
          placeholder="Birth State"
          formControlName="personBirthState"
        >
          <mat-option
            *ngFor="let birthState of birthStates"
            [value]="birthState"
          >
            {{ birthState }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Birth City"
          formControlName="personBirthCity"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Birth Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="personBirthDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Hair Color" formControlName="personHairColor">
          <mat-option *ngFor="let hairColor of hairColors" [value]="hairColor">
            {{ hairColor }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Eye Color" formControlName="personEyeColor">
          <mat-option *ngFor="let eyeColor of eyeColors" [value]="eyeColor">
            {{ eyeColor }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Height in inches"
          formControlName="personHeight"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Spec" formControlName="personSpec">
          <mat-option *ngFor="let spec of specs" [value]="spec">
            {{ spec }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Grade" formControlName="personGrade">
          <mat-option *ngFor='let in of counter(8) ;let i = index' [value]="i">
            {{i}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Organization" formControlName="personOrg">
          <mat-option *ngFor='let org of orgs' [value]="org.id">
            {{org.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <section>
        <mat-checkbox formControlName="personInitialTraining"
          >Initial Training</mat-checkbox
        >
      </section>
      <section>
        <mat-checkbox formControlName="personNDA">NDA</mat-checkbox>
      </section>
      <button
        mat-raised-button
        color="primary"
        (click)="PersonSubmit()"
        [disabled]="!personForm.valid"
      >
        submit
      </button>
    </mat-card-content>
  </mat-card>
</form>
