<div class="parent-div space-y-3">
  <mat-card class="shadow-md font-medium">
    <mat-card-title> Requested Accounts</mat-card-title>

    <table mat-table class="w-full" [dataSource]="dataSource">
      <ng-container
        *ngFor="let column of columnData | keyvalue: keepOrder"
        matColumnDef="{{ column.key }}"
      >
        <th mat-header-cell *matHeaderCellDef>{{ column.key }}</th>
        <td mat-cell *matCellDef="let requestedAccount">
          {{ requestedAccount[column.value] }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="objectKeys(columnData)"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: objectKeys(columnData)"
        (click)="viewAccountRequest(row)"
      ></tr>
    </table>
    <mat-card-footer class="text-center my-5" *ngIf="hasNoData"
      >No data to display</mat-card-footer
    >
  </mat-card>
  <mat-card class="shadow-md font-medium" *ngIf="requestViewIsOpen">
    <mat-list>
      <mat-list-item
        *ngFor="
          let accountRequest of displayedRequestData | keyvalue: keepOrder
        "
      >
        <label>{{ accountRequest.key }}: {{ accountRequest.value }}</label>
      </mat-list-item>
    </mat-list>
    <mat-card-actions class="space-y-3">
      <button
        mat-raised-button
        color="primary"
        class="w-full text-white shadow-md rounded-full"
        (click)="acceptRequest()"
      >
        Accept
      </button>
      <button
        mat-stroked-button
        class="w-full text-white shadow-md rounded-full m-0"
        (click)="denyRequest()"
      >
        Deny
      </button>
    </mat-card-actions>
  </mat-card>
</div>
