<div class="parent-div space-y-3">
  <mat-card class="font-medium">
    <mat-card-title>
      Observations of Discrimination in the Squadron
    </mat-card-title>
  </mat-card>
  <form [formGroup]="form">
    <mat-card class="flex flex-col flex-wrap">
      <label class="mb-1">
        {{ questions[0] }}
      </label>
      <mat-form-field>
        <mat-select
          placeholder="Organization"
          formControlName="eventOrg"
          required
        >
          <mat-option *ngFor="let org of orgs | async" [value]="org">
            {{ org }}
          </mat-option>
        </mat-select>
        <mat-error> Please select an organization </mat-error>
      </mat-form-field>
      <label class="mt-6 mb-1">
        {{ questions[1] }}
      </label>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Event Description</mat-label>
        <textarea
          matInput
          placeholder="Event Description"
          formControlName="event"
          required
        >
        </textarea>
        <mat-error>
          Please describe the microaggression or discrimination that took place.
        </mat-error>
      </mat-form-field>
      <label class="mt-6 mb-2">
        {{ questions[2] }}
      </label>
      <!-- TODO [ODST-274] Fix to use tailwind for spacing in future -->
      <mat-radio-group
        name="violator_spec"
        formControlName="violatorSpec"
        color="primary"
        required
      >
        <mat-radio-button value="AD">Active Duty</mat-radio-button>
        <br />
        <br />
        <mat-radio-button value="CIVILIAN">Civilian</mat-radio-button>
        <br />
        <br />
        <mat-radio-button value="CONTRACTOR">Contractor</mat-radio-button>
        <br />
        <br />
        <mat-radio-button value="RESERVE_GUARD">Guard/Reserve</mat-radio-button>
        <br />
        <mat-radio-button value="other">
          <mat-form-field>
            <input
              matInput
              formControlName="violatorOtherSpec"
              placeholder="Other"
            />
          </mat-form-field>
        </mat-radio-button>
      </mat-radio-group>
      <label class="mt-6 mb-1">
        {{ questions[3] }}
      </label>
      <mat-form-field>
        <!-- TODO [ODST-275] make placeholder not stay when CC is selected and add back placeholder when fixed -->
        <!-- TODO [ODST-276] Implement query to backend to find commanders to populate selector -->
        <mat-select placeholder="Commander" formControlName="CC" required>
          <mat-option *ngFor="let CC of CCs | async" [value]="CC">
            {{ CC }}
          </mat-option>
        </mat-select>
        <mat-error>Please select your Commander.</mat-error>
      </mat-form-field>
      <label class="mt-6 mb-2">
        {{ questions[4] }}
      </label>
      <!-- TODO [ODST-277] Fix to use tailwind for spacing in future -->
      <mat-radio-group
        name="person_spec"
        formControlName="personSpec"
        color="primary"
        required
      >
        <mat-radio-button value="AD">Active Duty</mat-radio-button>
        <br />
        <br />
        <mat-radio-button value="CIVILIAN">Civilian</mat-radio-button>
        <br />
        <br />
        <mat-radio-button value="CONTRACTOR">Contractor</mat-radio-button>
        <br />
        <br />
        <mat-radio-button value="RESERVE_GUARD">Guard/Reserve</mat-radio-button>
        <br />
        <mat-radio-button value="other">
          <mat-form-field>
            <input
              matInput
              formControlName="personOtherSpec"
              placeholder="Other"
            />
          </mat-form-field>
        </mat-radio-button>
      </mat-radio-group>
      <label class="mt-6 mb-1">
        {{ questions[5] }}
      </label>
      <mat-form-field appearance="outline" class="w-full border-solid">
        <mat-label>Event impact</mat-label>
        <textarea
          matInput
          placeholder="Event impact"
          formControlName="impact"
          required
        >
        </textarea>
        <mat-error> Please describe the events impact </mat-error>
      </mat-form-field>
      <label class="mt-6 mb-1">
        Click the box below if your Commander was involved in the event (this
        will route the submission to a representative outside of your chain of
        command).
      </label>
      <section>
        <br />
        <mat-checkbox formControlName="outsideRouting" color="primary">
          My Commander was involved.</mat-checkbox
        >
      </section>
      <!-- TODO: get color better -->
      <mat-card
        *ngIf="submitSuccess"
        class="mt-3 bg-green-500 bg-opacity-50 border-2 border-green-400"
      >
        <mat-card-content class="text-sm space-y-3 text-justify">
          <p>
            Your report has been successfully submitted! Please use the
            following ID to track the status of your report:
          </p>
          <p class="flex justify-center font-bold">
            {{ feedbackResponseID }}
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card-actions class="flex justify-center">
        <button
          class="m-2 border-1 rounded-full w-full"
          type="button"
          mat-stroked-button
          [routerLink]="['/disclaimer']"
        >
          Back
        </button>
        <button
          id="btnSubmit"
          class="m-2 rounded-full w-full"
          type="submit"
          mat-raised-button
          color="primary"
          (click)="submit()"
          [disabled]="!form.valid || submitSuccess"
        >
          Submit
          <mat-icon id="submitCheck" class="ml-1" *ngIf="submitSuccess"
            >check</mat-icon
          >
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
