<mat-card class="w-1/5 m-2 rounded-2xl shadow-md">
  <mat-card-header class="font-medium">
    <label>Observations of Discrimination in Squadron</label>
  </mat-card-header>
</mat-card>
<mat-card class="w-1/5 m-2 rounded-2xl shadow-md">
  <form [formGroup]="form" class="flex flex-col flex-wrap">
    <label class="mb-1">
      What squadron did the event occur in?
      <span class="text-red-500"> * </span>
    </label>
    <mat-form-field>
      <mat-select placeholder="Organization" formControlName="eventOrg" required>
        <mat-option *ngFor="let org of orgs" [value]="org.id">
          {{ org.name }}
        </mat-option>
      </mat-select>
      <mat-error> Please select the organization </mat-error>
    </mat-form-field>
    <label class="mt-6 mb-1">
      Please describe the event of a microaggression or discrimination that took
      place in your squadron. Please refrain from using names or identifying
      information.
      <span class="text-red-500"> * </span>
    </label>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Event description</mat-label>
      <textarea
        matInput
        placeholder="Event description"
        formControlName="event"
        class=""
        required
      >
      </textarea>
      <mat-error>
        Please describe the mircroaggression or discrimination that took place.
      </mat-error>
    </mat-form-field>
    <label class="mt-6 mb-2">
      Was the person performing the microaggression or discrimination active
      duty, civilian, guard/reserve or a contractor?
      <span class="text-red-500"> * </span>
    </label>
    <!-- TODO Fix to use tailwind for spacing in future -->
    <!-- TODO Fix autoselecting other when page loads -->
    <mat-radio-group
      name="violator_spec"
      [(ngModel)]="violatorOption"
      formControlName="violatorSpec"
      required
    >
      <mat-radio-button value="AD">Active Duty</mat-radio-button>
      <br />
      <br />
      <mat-radio-button value="CIVILIAN">Civilian</mat-radio-button>
      <br />
      <br />
      <mat-radio-button value="CONTRACTOR">Contractor</mat-radio-button>
      <br />
      <br />
      <mat-radio-button value="RESERVE_GUARD">Guard/Reserve</mat-radio-button>
      <br />
      <mat-radio-button value="other">
        <mat-form-field>
          <input
            matInput
            formControlName="violatorOtherSpec"
            placeholder="Other"
            [(ngModel)]="customViolator"
            (ngModelChange)="violatorOption = 'other'"
          />
        </mat-form-field>
      </mat-radio-button>
    </mat-radio-group>
    <label class="mt-6 mb-1">
      Who is your SQ/CC?
      <span class="text-red-500"> * </span>
    </label>
    <mat-form-field>
      <!-- TODO make placeholder not stay when CC is selected and add back placeholder when fixed -->
      <!-- TODO Implement query to backend to find commanders to populate selector -->
      <mat-select
        placeholder="Squadron Commander"
        formControlName="CC"
        required
      >
        <mat-option *ngFor="let CC of CCs" [value]="CC">
          {{ CC }}
        </mat-option>
      </mat-select>
      <mat-error>Please select your Squadron Commander</mat-error>
    </mat-form-field>
    <label class="mt-6 mb-2">
      Are you active duty, a civilian, guard/reserve or contractor?
      <span class="text-red-500"> * </span>
    </label>
    <!-- TODO Fix to use tailwind for spacing in future -->
    <!-- TODO Fix autoselecting other when page loads -->
    <mat-radio-group
      name="person_spec"
      [(ngModel)]="personOption"
      formControlName="personSpec"
      reqiured
    >
      <mat-radio-button value="AD">Active Duty</mat-radio-button>
      <br />
      <br />
      <mat-radio-button value="CIVILIAN">Civilian</mat-radio-button>
      <br />
      <br />
      <mat-radio-button value="CONTRACTOR">Contractor</mat-radio-button>
      <br />
      <br />
      <mat-radio-button value="RESERVE_GUARD">Guard/Reserve</mat-radio-button>
      <br />
      <mat-radio-button value="other">
        <mat-form-field>
          <input
            matInput
            formControlName="personOtherSpec"
            placeholder="Other"
            [(ngModel)]="customPerson"
            (ngModelChange)="personOption = 'other'"
          />
        </mat-form-field>
      </mat-radio-button>
    </mat-radio-group>
    <label class="mt-6 mb-1">
      What impacts did this event have on you or your work environment
      <span class="text-red-500"> * </span>
    </label>
    <mat-form-field appearance="outline" class="w-full border-solid">
      <mat-label>Event impact</mat-label>
      <textarea
        matInput
        placeholder="Event impact"
        formControlName="impact"
        required
      >
      </textarea>
      <mat-error> Please describe the events impact </mat-error>
    </mat-form-field>
    <label class="mt-6 mb-1">
      Click the box below if your Squadron Commander was involved in the event
      (this will route the submission to a representative outside of your chain
      of command).
    </label>
    <section>
      <br />
      <mat-checkbox formControlName="outsideRouting">
        My Squadron Commander was involved</mat-checkbox
      >
    </section>
  </form>
</mat-card>
<!-- TODO align buttons to the right of form -->
<div class="w-1/3 flex justify-center">
  <button
    id="btnBack"
    class="m-2 border-1 border-dark-blue shadow-md rounded-full"
    mat-raised-button
    (click)="back()"
  >
    Back
  </button>
  <button
    id="btnSubmit"
    class="m-2 text-white rounded-full"
    mat-raised-button
    color="primary"
    (click)="submit()"
    [disabled]="!form.valid"
  >
    Submit
    <mat-icon id="submitCheck" class="ml-1" *ngIf="submitSuccess"
      >check</mat-icon
    >
  </button>
</div>

